# Autosave files
*.asv
*.m~
*.autosave
*.slx.r*
*.mdl.r*

# Derived content-obscured files
*.p

# Compiled MEX files
*.mex*

# Packaged app and toolbox files
*.mlappinstall
*.mltbx
*.js
*.tif
*.tlc
*.tlh
*.gif
*.svg
*.png
*.zip
*.obj
*.rsp
*.tmw
*.woff
*.rights
*.css
*.cur
*.dmr

# Deployable archives
*.ctf

# Generated helpsearch folders
helpsearch*/

# Code generation folders
simCache/slprj/_sfprj/
simCache/slprj/modeladvisor/
simCache/slprj/sim/
simCache/slprj/_jitprj/
slprj/ert/_htmllib/
slprj/ert/_sharedutils/*.mat
codeGen/slprj/ert/_sharedutils/*.mat
codeGen/ButtonLogic_ert_rtw/tmwinternal/
codeGen/slprj/ert/ButtonLogic/tmwinternal/
sccprj/
codeGen/ButtonLogic_ert_rtw/html/
codeGen/ButtonLogic_ert_rtw/*.mat

# Cache files
*.slxc

# Cloud based storage dotfile
.MATLABDriveTag
/ButtonLogic.exe
/KTMButtonLogic.html
